#exportPattern("^[[:alpha:]]+")
S3method(print, TruncComp)
S3method(summary, TruncComp)
S3method(confint, TruncComp)
export(truncComp.default)
export(truncComp)
export(jointContrastCI)
export(simulateTruncatedData)
importFrom(graphics, contour)
importFrom(graphics, image)
importFrom(graphics, points)
importFrom(stats, get_all_vars)
importFrom(stats, model.matrix)
importFrom(stats, optimize)
importFrom(stats, terms)
