#exportPattern("^[[:alpha:]]+")
S3method(print, TruncComp)
S3method(summary, TruncComp)
S3method(confint, TruncComp)
export(truncComp.default)
export(truncComp)
export(jointContrastCI)
export(simulateTruncatedData)
