build/*
!build/figures/
!build/tables/
build/figures/*
!build/figures/power-curves.pdf
!build/figures/power-effects.pdf
!build/figures/type1-curves.pdf
build/tables/*
!build/tables/simulation-scenarios.tex
!build/tables/supplementary-power-s1.tex
!build/tables/supplementary-power-s2.tex
!build/tables/supplementary-power-s3.tex
!build/tables/supplementary-power-s4.tex
!build/tables/supplementary-power-s5.tex
!build/tables/supplementary-power-s6.tex
!build/tables/supplementary-type1.tex
application-data/*
!application-data/README.md
.DS_Store
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.out
*.ps
*.run.xml
*.snm
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.vrb
*.xdv
Rplots.pdf
